src/
tests/
.github/
.vscode/
resources/
webpack.main.config.js
webpack.preload.config.js
webpack.renderer.config.js
tsconfig.json
tsconfig.main.json
tsconfig.preload.json
tsconfig.renderer.json
electron-builder.config.js
electron-builder.js
jest.config.js
eslint.config.mjs
.editorconfig
.gitignore
dist/
